/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.border-backblack {
  border-color: black;
}

::-webkit-scrollbar {
  background-color: #2b2b2b;
  border-left: 1px solid #3e3e3e;
  width: 0.65rem;
}

::-webkit-scrollbar-thumb {
  background: #6b6b6b;
  border-radius: 5px;
}
