<div id="parent" #parent fxLayout="column" class="mx-2">
  <div class="mx-3" fxLayout="column">
    <span class="container space-y-0 text-white uppercase pb-2 pl-1">
      {{title}}
    </span>
    <div id="mov" #mov fxLayout="row wrap" fxFlexAlign="center" class="overflow-y-auto">
      <div tabindex="0" *ngFor="let item of movies"
        class="bg-grey-darkest cursor-pointer hover:bg-grey-darker focus:bg-grey-darker m-1 p-3"
        on-focus="showDetails(item)">
        <div id="movie_card" class="h-56 w-40" on-mouseover="showDetails(item)" (click)="showDetailWindow(item)">

          <img *ngIf="!item.posterError" class="poster h-56 w-40 bg-blue-darker" [src]="[posterMediumPath(item)]"
            (error)="(item.posterError = true)" />

          <div *ngIf="item.posterError" fxLayout="row" fxLayoutAlign="center"
            class="title bg-blue-darker text-white text-sm py-1 px-1 h-56 w-40">
            {{item.title}}
          </div>
          <div class="tooltip bg-blue-darker text-white text-sm py-1 px-1">
            {{item.title}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <button tabindex="1" class="object-center text-white rounded" (click)="fetchNext()" [hidden]="isEnd">
    <i class="p-3 fa fa-angle-double-down" aria-hidden="true"></i>
  </button>
</div>

<jw-modal id="video-link" class="jw-modal">
  <div fxLayout="column" class="mt-8">
    <div class="flow-root">
      <span class="block text-center text-gray uppercase mb-2 text-white">Filmy</span>
      <span class="my-2 hover:text-blue text-white block " *ngFor="let item of selectedItem?.movieIds">
        <a [href]="[item.url]" target="_blank" class="text-md" (click)="closeModal('video-link');">
          <i class="fa fa-play-circle fa-lg" aria-hidden="true"></i>&nbsp; {{item.title}} &nbsp; ({{item.time}}min.)
        </a>
      </span>
    </div>
  </div>

  <div class="bg-gray-300 flex flex-row-reverse pt-2">
    <button class="bg-blue py-1 px-3 rounded text-white" (click)="closeModal('video-link');">Zamknij</button>
  </div>
</jw-modal>
