#movie_card {
  z-index: 0;

  .poster {
    position: relative;
    z-index: 10;
  }

  .title {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 15;
    justify-content: space-around;
  }



  &:hover {
    transform: scale(1.05);
    transition: all 0.4s;


  }
}
