<div #parent class="flex flex-col m-2">
  <div class="m-3">
    <span class="container space-y-0 text-white uppercase pt-2">
      {{title}}
    </span>
    <div class="flex flex-wrap overflow-y-auto ">
      <div tabindex="0" *ngFor="let item of movies"
        class="bg-grey-darkest cursor-pointer hover:bg-grey-darker focus:bg-grey-darker mr-2 mb-2"
        on-focus="showDetails(item)">
        <div class="bg-white m-3">
          <div id="movie_card" class="flex-shrink-0 " on-mouseover="showDetails(item)" (click)="showDetailWindow(item)">
            <img class="h-56 w-40" [src]="[posterMediumPath(item)]" alt="{item.title}" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <button tabindex="1" class="object-center text-white rounded" (click)="fetchNext()" [hidden]="isEnd">
    <i class="p-3 fa fa-angle-double-down" aria-hidden="true"></i>
  </button>
</div>

<jw-modal id="video-link" class="jw-modal">
  <div class="mt-8 sm:mt-0 sm:w-full sm:px-8 flex flex-col md:flex-row justify-between">
    <div class="flow-root">
      <span class="block text-center text-gray uppercase mb-2 text-white">Filmy</span>
      <span class="my-2 hover:text-blue text-white block " *ngFor="let item of selectedItem?.movieIds">
        <a [href]="[item.url]" target="_blank" class="text-md" (click)="closeModal('video-link');">
          <i class="fa fa-play-circle fa-lg" aria-hidden="true"></i>&nbsp; {{item.title}} &nbsp; ({{item.time}}min.)
        </a>
      </span>
    </div>
  </div>

  <div class="bg-gray-300 flex flex-row-reverse pt-2">
    <button class="bg-blue py-1 px-3 rounded text-white" (click)="closeModal('video-link');">Zamknij</button>
  </div>
</jw-modal>
