<div id="parent" #parent class="fixed block h-screen ml-3 my-3" infiniteScroll (scrolled)="onScroll()"
  [scrollWindow]="false" [immediateCheck]="true" [alwaysCallback]="true">

  <div class="mr-3 container space-y-0 text-white uppercase pb-2 pl-1 w-screen">
    {{ title }}
  </div>

  <div tabindex="0" *ngFor="let item of movies"
    class="inline-block bg-grey-darkest cursor-pointer hover:bg-grey-darker focus:bg-grey-darker mr-1 p-3"
    on-focus="showDetails(item)">
    <div id="movie_card" class="h-56 w-40" on-mouseover="showDetails(item)" (click)="showDetailWindow(item)">
      <div class="title bg-blue-darker text-white text-sm py-1 px-1 w-40">
        {{ item.title }}
        <!--
            <div class="text-white text-lg cursor-pointer">
              <fa-icon class="float-left float-left fa pr-2 pt-1 far fa-play-circle pr-2 pt-1"></fa-icon>
              <a href="" (click)="playTrailer(true)">Trailer</a>
            </div>
            -->
      </div>

      <img class="poster h-56 w-40 bg-blue-darker" [src]="[posterMediumPath(item)]" (error)="item.posterError = true" />

      <div *ngIf="item.posterError" class="poster h-56 w-40 bg-blue-darker text-white text-sm py-1 px-1">
        {{ item.title }}
      </div>
    </div>
  </div>

  <div class="mr-3 container space-y-0 text-white uppercase pb-2 pl-1 w-full">
    <button tabindex="1" class="text-white w-full m-1" (click)="fetchNext()" [hidden]="isEnd">
      <i class="p-3 fa fa-angle-double-down" aria-hidden="true"></i>
    </button>
  </div>
</div>



<jw-modal id="video-link" class="jw-modal">
  <div class="mt-1 mx-3">
    <span class="block text-center text-gray uppercase mb-2 text-white">Filmy</span>
    <span class="my-2 hover:text-blue text-white block text-base" *ngFor="let item of selectedItem?.movieIds">
      <a [href]="[item.url]" target="_blank" (click)="closeModal('video-link')">
        <i class="fa fa-play-circle fa-lg" aria-hidden="true"></i>&nbsp;
        {{ item.title }} &nbsp; ({{ item.time }}min.)
      </a>
    </span>
  </div>

  <div class="inline-block w-full text-right py-2 px-2">
    <button class="bg-blue py-1 px-3 rounded text-white" (click)="closeModal('video-link')">
      Zamknij
    </button>
  </div>
</jw-modal>

<!--
<div #trailer class="trailer">
  <fa-icon id="video-close" class="fa fas fa-times cursor-pointer" (click)="playTrailer(false)"></fa-icon>
</div>
-->
