#app {
  position: relative;
  height: 100vh;
  overflow-x: hidden;

  .sidebar {
    position: relative;
  }


  .main {
    display: flex;

    .content {
      position: relative;
    }

    .details {
      position: relative;
    }
  }
}
