  <div class="movie_card" id="bright">
    <div class="info_section">
      <div class="movie_header">
        <img class="locandina" [src]="movie?.getPosterUrl()" />
        <h1>{{movie?.title}} - {{browser}}</h1>
        <h4>{{movie?.getReleaseYear()}}</h4>
        <!--<span class="minutes">117 min</span>-->
        <p class="type">{{clientCtx.getGenersNameByIdList(movie?.genreIds)}}</p>
      </div>
      <div class="movie_desc">
        <p class="text-base text-white break-words font-sans pt-2 h-full">
          {{movie?.overview}}
        </p>
      </div>
      <!--
        <div class="movie_social">
          <ul>
            <li><i class="material-icons">share</i></li>
            <li><i class="material-icons">chat_bubble</i></li>
          </ul>
        </div>
      -->
    </div>

    <img *ngIf="movie.backdropPath" id="backdropPath" [src]="movie?.getLargePictureUrl()" />
  </div>
