  <div class="movie_card" id="bright">

    <div [ngClass]="(!errorImg && movie?.backdropPath != '') ? 'info_section':'info_section_empty_img'">
      <div class="movie_header">
        <img *ngIf="!movie?.posterError && movie?.posterPath" class="locandina" [src]="movie?.getPosterUrl()" />
        <h1>{{movie?.title}}</h1>
        <p class="type">{{geners}}</p>
        <h4>{{movie?.getReleaseYear()}}</h4>
        <h4>{{movie?.voteAverage}}</h4>
        <!--<span class="minutes">117 min</span>-->

      </div>
      <div class="movie_desc">
        <p class="text-sm text-white break-words font-sans pt-2 h-full">
          {{movie?.overview}}
        </p>
      </div>
    </div>

    <img *ngIf="movie.backdropPath" id="backdropPath" [src]="movie?.getLargePictureUrl()" (error)="errorImg = true" />
  </div>
